<!DOCTYPE html>
<head>
    <!-- metadata -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Pagina de prueba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav> <!-- secciones de navegación -->
        <img src="" alt="">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </nav>
    <!-- //parte visible de la página -->
    <div>
    <h1>SOY H1</h1>
    <h2>SOY H2</h2>
    <h3>SOY H3</h3>
    <h4>SOY H4</h4>
    <h5>SOY H5</h5>
    <h6>SOY H6</h6>
    </div>
    
    unordered list
    <ul>
        <li>Elemento 1 de la lista desordenada</li>
        <li>Elemento 2 de la lista desordenada</li>
        <li>Elemento 3 de la lista desordenada</li>
        <li>Elemento 4 de la lista desordenada</li>
    </ul>
    <ol>
        <li>Elemento 1 de la lista ordenada</li>
        <li>Elemento 2 de la lista ordenada</li>
        <li>Elemento 3 de la lista ordenada</li>
        <li>Elemento 4 de la lista ordenada</li>
    </ol>
    <button>Estos quedan</button>
    <button>Uno al lado del otro</button>
    <br>
    <a href="https://google.com">Entrar a goole</a> <!-- Entre etiqueta va contenido visible -->
    <br>
    <br> <!-- para hacer enter -->
    <input type="text"></input>
    <br>
    <input type="date"></input>
    <br>
    <input type="color">
    <br>
    <input type="email">
    <br>
    <input type="submit">
    <section>
        <!-- Para separar seccciones distintas -->
        <article>
            <!-- componente de la página de contenido independiente -->
            <!-- Si el contenido del article 
                 tiene sentido sin tener en cuenta su contexto,
                en este caso podemos hacer uso de la etiqueta 
                article -->
        </article>
        <img width="200px" src="https://www.google.com/search?q=slash&rlz=1C1VDKB_esAR946AR946&sxsrf=AJOqlzXBXf9RLC1TvkaB71ET_zd0tZ2JCg:1675123861928&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiov_rVwvD8AhV1kZUCHTHEDnIQ_AUoAXoECAEQAw&biw=973&bih=932&dpr=1#imgrc=ksKOtCscDiw4RM">
    </section>

</body>
<footer>

</footer>
</html>